.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    background-color: #AAFF00;
    border-radius: 15px;
    border: 10px solid #8acf00;
}
#hd3{
	color: red;
	font-family: 'Poppins', sans-serif;
}

.control{
    background-color: #AAFF00;
    width: 650px;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
}
.control span {
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.control h2{
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

